
* {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    height: 201px;
  }
  
header, nav {
    padding: 10px;
    margin-bottom: 10px;
    background: #ebebeb;
    width: 495px;
  }

section {
    padding: 10px;
    background: #ebebeb;
    height: 201px;
  }

aside{
    padding: 10px;
    margin-bottom: 10px;
    background: #ebebeb;
    height: 201px;
  }

article {
    padding: 10px;
    color: #ebebeb; 
    background: #777; 
    width:220px;
    height: 150px;    
}

p {
    color: #777;
    background: #ebebeb; 
    width:200px;
    height: 30px; 
   
}

h1 {
     color: #777;
     background: #ebebeb; 
     width:200px;
     height:30px; 
    
 }

#left {
    float: left;
    width: 25%;
    margin-right: 5px;
  }
 
#right {
    float: left;
    width: 25%;
    margin-left: 5px;
  }

footer {
    padding: 10px;
    margin-bottom: 10px;
    background: #ebebeb;
    width: 495px;
    clear: both;
  }
